<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("Scripts",false)
    @RenderSection("Styles", false)
</head>
<body>
    <div>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="@Url.Action("Index","Home")">Home<span class="sr-only">(current)</span></a></li>
                    <li><a href="@Url.Action("Index", "Profile")">Profile</a></li>
                    <li><a href="@Url.Action("Photo","Image")">Gallery</a></li>
                    <li><a href="@Url.Action("Logout","Account")">Sign Out</a></li>
                 </ul>
            </div>
        </nav>
        @Html.ActionLink("Log Out","Logout","Account")
        <div class="body">
             @RenderBody()
          </div>
    </div>
</body>
</html>
